img {
    width: 300px;
}

header {
    background-color: blueviolet;
    color: black; 
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
main {
    background-color: blue;
    color: #183c63;
    max-width: 800px;
    margin: 0% auto;
    padding: 16px;
  
}

.artigo-autor {
    font-weight: bold;
}

article {
    display: flex;
}
footer{
    background-color: azure;
    max: width 800px;
    text-align: center;
    max-width: 800px;
    
}